.button
{
    -fx-background-color: #A7BAEC;
    -fx-border-color: #5E709F;
    -fx-border-style: solid;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}
.textArea
{
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: #DEDEDE;
    -fx-border-color: #C4C4C4;
    -fx-prompt-text-fill: #6A6A6A;

}
.textArea
